* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #000;
    background-image: url("background-image-2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;  
}
/* Buttons code */
.simple-button {
    background-color: #0000;
    color: #fff;
    font-size: 2vh;
    border: 2px solid #fff;
    border-radius: 5px;
}

.simple-button:hover {
    background-color: #fff2;
}

.simple-button:active {
    background-color: #fff4;
}
/* Main div code */
#main {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(20, 5%);
    grid-auto-rows: 5vh;
}

#root {
    height: 100vh;
}

#button-1 {
    grid-column: 10 / 12;
    grid-row: 10 / 12;
}
